.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay > div {
  transition: opacity 0.2s ease-in;
}

.overlay > button {
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.overlay:hover > div {
  opacity: 0.4;
}

.overlay:hover > button {
  opacity: 1;
}
